.social li a {
    text-decoration:none;
    color: #cccccc;
    font-size: 15px;
    line-height: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.social li a:hover {
    color: #fff;
    background-color: #3b5998;
    padding: 5px 10px 5px 5px;
}